<aside>
    <div class="sidebar">
        <div class="sidebar-header">
            <h4>Admin Panel</h4>
        </div>
        <div class="sidebar-body">
            <ul>
                <li>
                    <a href="#"><i class="fa-solid fa-gauge"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/admin/users"><i class="fa-solid fa-users"></i> Users</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-gauge"></i> Users</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-gauge"></i> Users</a>
                </li>
            </ul>
        </div>
    </div>
</aside>