<header>
    <div class="container">
        <nav>
            <div class="nav-left">
                <div class="nav-logo">
                    <a href="/">
                        Review
                    </a> 
                </div>
            </div>
            <div class="nav-center">
                <ul>
                    <!-- <li>
                        <a href="#">Users</a>
                    </li>
                    <li>
                        <a href="#">Filters</a>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                    </li> -->
                </ul>
            </div>
            <div class="nav-right">
                <div class="nav-options">
                   <a href="#" role="button" class="dropdown" data-bs-toggle="dropdown" aria-expanded="false"><img src="/images/user.jpg" height="50px" width="50px" class="rounded-circle" ></a>
                   <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Hii <%= locals.user.name %></a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/user/logout">Log Out</a></li>
                  </ul>
                </div>
            </div>
        </nav>
    </div>
</header>