<header>
    <div class="container">
        <nav>
            <div class="nav-left">
                <div class="welcome-text">
                    Welcome <% if(locals.user){ %>
                        <span><%= user.name %></span> 
                    <%} %>
                </div>
            </div>
            <div class="nav-center">
            </div>
            <div class="nav-right">
                <div class="nav-options">
                   <a href="/user/logout" title="Log Out"><i class="fa-solid fa-power-off text-danger"></i> Log Out</a>
                </div>
            </div>
        </nav>
    </div>
</header>